In [13]:
%matplotlib inline

In [21]:
import pandas as pd
import os
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import matplotlib.pyplot as plt

In [22]:
train=pd.read_csv('train.csv')

In [23]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [24]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [25]:
# os.system('pip install pandas-profiling')

In [26]:
import pandas_profiling as pp

In [27]:
profile=pp.ProfileReport(train)

In [59]:
# /profile.get_rejected_variables(threshold=0.5)

In [28]:
profile.to_file(outputfile="tmp/myoutputfile.html")

In [29]:
# train['Age'].describe()

In [30]:
train = train.drop(['Cabin','Name','Ticket','Embarked'],axis=1)
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [31]:
from sklearn.preprocessing import LabelEncoder,Imputer,OneHotEncoder
le=LabelEncoder()
train['Sex']=le.fit_transform(train['Sex'])
print(le.classes_)

['female' 'male']

In [66]:
train.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    1  22.0      1      0   7.2500        S
1            2         1       1    0  38.0      1      0  71.2833        C
2            3         1       3    0  26.0      0      0   7.9250        S
3            4         1       1    0  35.0      1      0  53.1000        S
4            5         0       3    1  35.0      0      0   8.0500        S

In [67]:
# imp = Imputer(missing_values='NaN', strategy='median', axis=0)
# train['Age']=imp.fit_transform(np.array(train['Age']).reshape(-1, 1))

In [68]:
# train['Age'][:5]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [32]:
train=train.fillna(train.median())

In [33]:
# train.describe()

In [34]:
profile2=pp.ProfileReport(train)

In [35]:
profile2.to_file(outputfile="tmp/profile2.html")
train.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833
2            3         1       3    0  26.0      0      0   7.9250
3            4         1       1    0  35.0      1      0  53.1000
4            5         0       3    1  35.0      0      0   8.0500

In [36]:
df_without_embarked = train.to_csv("tmp/without_embarked.csv")

In [100]:
# # ohe= OneHotEncoder()
# le = LabelEncoder()

In [37]:
# p=le.fit(train["Embarked"])
# p.classes_

In [56]:
X=train.drop(["Survived"],axis=1)
y=train["Survived"]
X.head(2)
#y.head(2)

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0            1       3    1  22.0      1      0   7.2500
1            2       1    0  38.0      1      0  71.2833

In [57]:
model=RandomForestClassifier(n_jobs=-1,n_estimators=100)
model.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [58]:
test=pd.read_csv('test.csv')
test= test.drop(['Cabin','Name','Ticket','Embarked'],axis=1)

In [59]:
profile_test=pp.ProfileReport(test)
profile_test.to_file('tmp/test_report.html')

In [60]:
test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0          892       3    male  34.5      0      0   7.8292
1          893       3  female  47.0      1      0   7.0000
2          894       2    male  62.0      0      0   9.6875
3          895       3    male  27.0      0      0   8.6625
4          896       3  female  22.0      1      1  12.2875

In [61]:
from sklearn.preprocessing import LabelEncoder,Imputer,OneHotEncoder
le=LabelEncoder()
test['Sex']=le.fit_transform(test['Sex'])

In [62]:
test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0          892       3    1  34.5      0      0   7.8292
1          893       3    0  47.0      1      0   7.0000
2          894       2    1  62.0      0      0   9.6875
3          895       3    1  27.0      0      0   8.6625
4          896       3    0  22.0      1      1  12.2875

In [79]:
train.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833
2            3         1       3    0  26.0      0      0   7.9250
3            4         1       1    0  35.0      1      0  53.1000
4            5         0       3    1  35.0      0      0   8.0500

In [63]:

test=test.fillna(test.median())

In [114]:
y_pred = model.predict(test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0])

In [73]:
submission1=pd.DataFrame({
    "PassengerId":test["PassengerId"],
    "Survived":y_pred})

In [76]:
submission1.to_csv("tmp/sub1.csv",index=False)

In [77]:
print(len(pd.read_csv("tmp/sub1.csv")))

418

## mixing both datasets

In [120]:
train2=pd.concat([X,test])
print(train2.shape)
train2

(1309, 7)

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare
0              1       3    1  22.0      1      0    7.2500
1              2       1    0  38.0      1      0   71.2833
2              3       3    0  26.0      0      0    7.9250
3              4       1    0  35.0      1      0   53.1000
4              5       3    1  35.0      0      0    8.0500
5              6       3    1  28.0      0      0    8.4583
6              7       1    1  54.0      0      0   51.8625
7              8       3    1   2.0      3      1   21.0750
8              9       3    0  27.0      0      2   11.1333
9             10       2    0  14.0      1      0   30.0708
10            11       3    0   4.0      1      1   16.7000
11            12       1    0  58.0      0      0   26.5500
12            13       3    1  20.0      0      0    8.0500
13            14       3    1  39.0      1      5   31.2750
14            15       3    0  14.0      0      0    7.8542
15            16       2    0  55.0      0      0   16.0000
16            17       3    1   2.0      4      1   29.1250
17            18       2    1  28.0      0      0   13.0000
18            19       3    0  31.0      1      0   18.0000
19            20       3    0  28.0      0      0    7.2250
20            21       2    1  35.0      0      0   26.0000
21            22       2    1  34.0      0      0   13.0000
22            23       3    0  15.0      0      0    8.0292
23            24       1    1  28.0      0      0   35.5000
24            25       3    0   8.0      3      1   21.0750
25            26       3    0  38.0      1      5   31.3875
26            27       3    1  28.0      0      0    7.2250
27            28       1    1  19.0      3      2  263.0000
28            29       3    0  28.0      0      0    7.8792
29            30       3    1  28.0      0      0    7.8958
..           ...     ...  ...   ...    ...    ...       ...
388         1280       3    1  21.0      0      0    7.7500
389         1281       3    1   6.0      3      1   21.0750
390         1282       1    1  23.0      0      0   93.5000
391         1283       1    0  51.0      0      1   39.4000
392         1284       3    1  13.0      0      2   20.2500
393         1285       2    1  47.0      0      0   10.5000
394         1286       3    1  29.0      3      1   22.0250
395         1287       1    0  18.0      1      0   60.0000
396         1288       3    1  24.0      0      0    7.2500
397         1289       1    0  48.0      1      1   79.2000
398         1290       3    1  22.0      0      0    7.7750
399         1291       3    1  31.0      0      0    7.7333
400         1292       1    0  30.0      0      0  164.8667
401         1293       2    1  38.0      1      0   21.0000
402         1294       1    0  22.0      0      1   59.4000
403         1295       1    1  17.0      0      0   47.1000
404         1296       1    1  43.0      1      0   27.7208
405         1297       2    1  20.0      0      0   13.8625
406         1298       2    1  23.0      1      0   10.5000
407         1299       1    1  50.0      1      1  211.5000
408         1300       3    0  27.0      0      0    7.7208
409         1301       3    0   3.0      1      1   13.7750
410         1302       3    0  27.0      0      0    7.7500
411         1303       1    0  37.0      1      0   90.0000
412         1304       3    0  28.0      0      0    7.7750
413         1305       3    1  27.0      0      0    8.0500
414         1306       1    0  39.0      0      0  108.9000
415         1307       3    1  38.5      0      0    7.2500
416         1308       3    1  27.0      0      0    8.0500
417         1309       3    1  27.0      1      1   22.3583

[1309 rows x 7 columns]

In [87]:
train2.to_csv("tmp/train2.csv",index=False)

In [89]:
combined2report=pp.ProfileReport(train2)
combined2report.to_file("tmp/combinedreport.html")

In [118]:
l=list(train["Survived"])
print(len(l))
l[:5]

for i in y_pred:
    l.append(i)
print(len(l))

891
1309

In [121]:
model2 = RandomForestClassifier(n_jobs=-1,n_estimators=100)
model2.fit(train2,l)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [126]:
y_pred2=model.predict(test)
y_pred2.shape
train2.head(2)

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0            1       3    1  22.0      1      0   7.2500
1            2       1    0  38.0      1      0  71.2833

In [128]:
submission2=pd.DataFrame({
    "PassengerId":test["PassengerId"],
    "Survived":y_pred2
})

In [132]:
#print(submission1-submission2)

In [130]:
submission2.to_csv("tmp/sub2.csv",index=False)

## attempt3 -- add columns familysize,Embarked[S,C,Q]

### ADABOOST,XGBOOST